html {
    font-size: 10px;
    background: url('./drumKit/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  body,html {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    padding-top: 50vh;  
    display: inline-flex;
    justify-content: center;
  }
  
  .key {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: .8rem solid black;
    border-radius: .5rem;
    margin: 18rem;
    margin-top: 200px;
    font-size: 1.5rem;
    padding: 7rem;
    transition: all .15s ease;
    width: 30rem;
    height: 30rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffffff;
    box-shadow: 0 0 3rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 18rem;
    margin-right: 90px;
    margin-left: auto;
    margin-top: 30px;
  }
  
  .sound {
    margin-top: 220px;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #dfa232ef;
  }