html {
    font-size: 10px;
    background: url('./drumKit/background.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
}
body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  justify-content: center;
  justify-items: center;
  font-family: sans-serif;
  margin:0px;
}

.keys {
  display: grid;
  justify-items: center;
  padding-top: 55vh;  
}
.key {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 0.4em;
  margin: 75px;
  padding: 20px;
  transition: all .15s ease;
  width: 70px;
  height: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 0.904);
  background: rgba(0,0,0,0.2);
  text-shadow: 0 0 .5em black;
}
.playing {
  transform: scale(1.1);
  border-color: #ffffff;
  box-shadow: 0 0 3em #ffc600;
}
kbd {
  font-size: 8em;
  margin-right: 99px;
  margin-left: auto;
  margin-top: 30px;
}
.sound {
  margin-top: 40px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #dfa232ef;
}
