html {
    font-size: 10px;
    background: url('./drumKit/background.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
}
body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  justify-items: center;
  font-family: sans-serif;
  padding:0px;
  margin:0px;
}

.keys {
  padding-top: 60vh;  
}
.key {
  display:Flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 0.4em;
  padding: 20px;
  transition: all .15s ease;
  width: 70px;
  height: 70px;

  color: rgba(255, 255, 255, 0.904);
  background: rgba(0,0,0,0.2);
  text-shadow: 0 0 .5em black;
}
.playing {
  transform: scale(1.1);
  border-color: #ffffff;
  box-shadow: 0 0 3em #ffc600;
}
kbd {
  font-size: 6em;
}
.sound {
  margin-top: 30px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #dfa232ef;
}
.keys kbd{
  display:grid;
  justify-items: center;
} 
.keys .sound{
  display:flex;
  justify-content: center;
}
.key .sound{
  display:flex;
  justify-content: center;
}
